/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

/* Variables */
:root {
  --main-gray: #6f6f6f;
  --clear-gray: #c4c4c4;
  --rgba-main-gray: rgba(111, 111, 111, 0.7);
  --text-med-size: 1rem;
  --text-font-weight: 600;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  font-size: var(--text-med-size);
  font-weight: var(--text-font-weight);
}

.bg-image {
  object-fit: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -2;
  filter: brightness(0.7);
}

/* Nav */
nav {
  display: flex;
  background-color: var(--rgba-main-gray);
  padding: 0.6rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 2px 10px 5px rgba(0, 0, 0, 0.5);
}

/* Links */
nav span {
  color: #000;
}

.logo-buttons {
  width: 70px;
}

/* Search Bar Elements */
.searchBar {
  display: flex;
  align-items: center;
}

.searchBar input::placeholder {
  font-size: 0.6rem;
  color: #000000;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 3px;
  left: 19px;
}

.searchBar input {
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  width: 22rem;
  height: 40px;
  margin-left: -6rem;
}

nav button {
  background: none;
  border: none;
}

.loop {
  width: 24px;
}

/* Links */
.links {
  display: flex;
  gap: 5rem;
  margin-right: 4rem;
}

/* Main */

/* Main Title */
.main-title {
}

.main-title h1 {
  margin: 2rem 1rem;
  font-size: 1.3rem;
}

.fav-history-cards {
  color: #ffffff;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: grid;
  height: 27rem;
  width: 20rem;
  border-radius: 49px;
  margin-left: 37rem;
  margin-top: -5rem;
}

/* Cards */
.card,
.card-history {
  background-color: var(--clear-gray);
  height: 95px;
  width: 105px;
  border-radius: 25px;
}
