/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

/* Variables */
:root {
  --main-gray: #6f6f6f;
  --clear-gray: #c4c4c4;
  --rgba-main-gray: rgba(111, 111, 111, 0.7);
  --text-med-size: 1rem;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.bg-image {
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -2;
  filter: brightness(0.7);
}

/* Nav */
nav {
  display: flex;
  background-color: var(--rgba-main-gray);
  padding: 0.6rem;
  justify-content: space-evenly;
  align-items: center;
}

span {
  color: #000;
}

.logo-buttons {
  width: 70px;
}

nav button {
  background: none;
  border: none;
}

.loop {
  width: 24px;
}

nav input {
  border-radius: 8px;
}
