/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    text-decoration: none;
}

/* Variables */
:root {
    --main-gray: #6F6F6F;
    --clear-gray: #C4C4C4
}